:root{
    --main-bg: #fff;
    --accent-color: #F3223C;
    --input-field-background: rgba(93, 136, 150, 0.08);
    --input-field-color: #858585;
    --text-primary-color: #0C0C0D;
    --text-link-color: #5D8896;
    --input-border-color: #BDBDBD;
    --input-background-color: #F2F3F5;


}
